body {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.btn-no-decoration {
  text-align: start;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: non;
  &:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
  }
  &:focus {
    outline: inherit;
  }
}

#navbar-xs,
#navbar-md {
  min-height: 65px;
  background: goldenrod;
}

#navbar-xs {
  #navbar-xs-button {
    height: 65px;
  }
  #navbar-xs-drawer {
  }
}

#stage,
#sider {
  min-height: 500px;
}

#sider {
  position: sticky;
  top: 0;
}
